@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500&family=Montserrat:wght@400;500;700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

@media screen and (min-width: 320px) {
  .brusi-propiedades {
    display: -ms-grid;
    display: grid;
    font-family: "Crimson Pro", serif;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 100px, (1fr)[2], 500px;
        grid-template-rows: 100px, repeat(2, 1fr), 500px;
    min-height: 100vh;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 3px #a5a5a5;
            box-shadow: 0px 3px 3px #a5a5a5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 75px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100000;
  }
  .header--brand__img {
    height: 75px;
    margin-left: 25px;
    width: 150px;
  }
  .header--menu-mobile__label {
    height: 3px;
    width: 35px;
    background-color: #000000;
    margin-right: 25px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header--menu-mobile__label::after, .header--menu-mobile__label::before {
    background-color: #000000;
    content: "";
    height: 3px;
    position: absolute;
    top: 9px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 35px;
  }
  .header--menu-mobile__label::before {
    top: -9px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 3px #a5a5a5;
            box-shadow: 0px 3px 3px #a5a5a5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    top: 74px;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    width: 100%;
    z-index: 90000;
  }
  .menu-container ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 450px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 0;
    padding: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0;
  }
  .menu-container ul li {
    font-family: "Montserrat", sans-serif;
    list-style: none;
  }
  .menu-container__link {
    color: #000000;
    font-size: 1.8rem;
    text-decoration: none;
  }
  #menu-button {
    display: none;
  }
  #menu-button:checked ~ .menu-container {
    height: 100vh;
    visibility: visible;
  }
  #menu-button:checked ~ .header--menu-mobile__label {
    background-color: #01d3b7;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  #menu-button:checked ~ .header--menu-mobile__label::before {
    background-color: #01d3b7;
    top: 0px;
  }
  #menu-button:checked ~ .header--menu-mobile__label::after {
    background-color: #01d3b7;
    top: 0px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu-button:checked ~ .menu-container ul {
    opacity: 1;
  }
  .navbar {
    display: none;
  }
  .home,
  .about,
  .services,
  .properties {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    min-height: 100vh;
    margin-top: 75px;
  }
  .home--services {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home--services img {
    height: 100%;
    width: 100%;
  }
  .home--services__text {
    margin: 0 25px;
    text-align: justify;
    font-family: "Crimson Pro", serif;
    font-size: 1.3rem;
  }
  .home--services__text h2 {
    font-family: "Montserrat", sans-serif;
  }
  .home--services__text button {
    background-color: #01d3b7;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bold;
    height: 40px;
    margin-bottom: 25px;
    width: 150px;
  }
  .hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero--img-container {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/Barrio Brickland-63.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/Barrio Brickland-63.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;
  }
  .hero--content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 25px;
    position: absolute;
  }
  .hero--content__title {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }
  .hero--content__text {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    text-align: center;
  }
  .hero--buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero--buttons__button {
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    height: 50px;
    width: 200px;
  }
  #sell {
    background-color: #01d3b7;
  }
  #buy {
    background-color: #000000;
  }
  .about--title__text {
    font-family: 'Montserrat', sans-serif;
    margin-left: 25px;
  }
  .about--content {
    margin: 0 25px 50px 25px;
  }
  .about--paragraph__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
  }
  .about--paragraph__text {
    font-size: 1.3rem;
    text-align: justify;
  }
  .about--paragraph__text a {
    color: #01d3b7;
  }
  .about--paragraph__button {
    background-color: #01d3b7;
    border: none;
    height: 40px;
    width: 150px;
  }
  .about--paragraph__button .about--button__link {
    color: #ffffff;
    font-size: .9rem;
    font-weight: bolder;
    text-decoration: none;
  }
  .about--invert {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about img {
    width: 100%;
  }
  .about--picture {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about--picture .view--img,
  .about--picture .purpose--img,
  .about--picture .mission--img {
    width: 60%;
  }
  .about--social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 25px 25px 25px;
  }
  .about--social__title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  .social-media {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 600px;
    width: 100%;
  }
  .social-media div .social-media--link__img {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    width: 50px;
  }
  .social-media div .social-media--link__img:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .featured-properties {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .featured-properties--title {
    font-family: "Montserrat", sans-serif;
    text-align: center;
  }
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #000000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Montserrat", sans-serif;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    position: relative;
    height: 500px;
  }
  .footer::after {
    background-color: #01d3b7;
    content: "";
    height: 2px;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
  }
  .footer--logo__img {
    height: 100px;
    width: 100px;
  }
  .footer--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 25px;
  }
  .footer--links__section {
    margin-bottom: 20px;
  }
  .footer--links__section ul {
    margin: 0;
    padding: 0;
    width: 150px;
  }
  .footer--links__section p,
  .footer--links__section ul li {
    color: #ffffff;
    font-size: 1.3rem;
  }
  .footer--links__section p {
    font-size: 1.2rem;
    margin: 15px 0;
  }
  .footer--links__section ul li {
    font-size: 1rem;
    list-style: none;
    margin: 10px 0;
  }
  .footer--links__link {
    color: #ffffff;
    font-size: 1rem;
    list-style: none;
    margin: 25px 0;
    text-decoration: none;
  }
  .whatsapp--image {
    bottom: 25px;
    height: 60px;
    position: fixed;
    right: 25px;
    width: 60px;
    z-index: 95000;
  }
  .frequent-questions {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 25px 25px 25px;
  }
  .frequent-questions--title {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem;
    text-align: center;
  }
  .frequent-questions--container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px 0;
    width: 100%;
  }
  .frequent-questions--container__answer {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    visibility: hidden;
    width: 100%;
  }
  .frequent-questions--container__answer p {
    margin: 0 15px;
  }
  .frequent-questions--container__label {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    margin: 10px 0 10px 15px;
    position: relative;
    width: 100%;
  }
  .frequent-questions--container__label::after {
    background-color: #000000;
    content: "";
    height: 10px;
    position: absolute;
    right: 19px;
    top: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 2px;
  }
  .frequent-questions--container__label::before {
    background-color: #000000;
    content: "";
    height: 2px;
    position: absolute;
    right: 15px;
    top: 9px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 10px;
  }
  #question-1,
  #question-2,
  #question-3,
  #question-4 {
    display: none;
  }
  #question-1:checked ~ .frequent-questions--container__answer,
  #question-2:checked ~ .frequent-questions--container__answer,
  #question-3:checked ~ .frequent-questions--container__answer,
  #question-4:checked ~ .frequent-questions--container__answer {
    height: 50px;
    visibility: visible;
  }
  #question-1:checked ~ .frequent-questions--container__label::after,
  #question-2:checked ~ .frequent-questions--container__label::after,
  #question-3:checked ~ .frequent-questions--container__label::after,
  #question-4:checked ~ .frequent-questions--container__label::after {
    opacity: 0;
  }
  #question-1:checked ~ .frequent-questions--container__label::before,
  #question-2:checked ~ .frequent-questions--container__label::before,
  #question-3:checked ~ .frequent-questions--container__label::before,
  #question-4:checked ~ .frequent-questions--container__label::before {
    background-color: #01d3b7;
  }
  #question-1:checked ~ .frequent-questions--container__label,
  #question-2:checked ~ .frequent-questions--container__label,
  #question-3:checked ~ .frequent-questions--container__label,
  #question-4:checked ~ .frequent-questions--container__label {
    color: #01d3b7;
    font-weight: bold;
  }
  .services--title__text,
  .buy--title__text {
    font-family: 'Montserrat', sans-serif;
    margin-left: 25px;
  }
  .services--sell, .services--buy,
  .buy--sell,
  .buy--buy {
    margin: 0 25px;
  }
  .services--sell__title, .services--sell__subtitle, .services--buy__title, .services--buy__subtitle,
  .buy--sell__title,
  .buy--sell__subtitle,
  .buy--buy__title,
  .buy--buy__subtitle {
    font-family: 'Montserrat', sans-serif;
  }
  .sell,
  .buy {
    padding: 0;
  }
  .sell div,
  .buy div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 0;
  }
  .sell li,
  .buy li {
    list-style: none;
    font-size: 1.3rem;
    text-align: center;
  }
  .sell img,
  .buy img {
    margin: 25px 0;
    width: 50%;
  }
}

@media screen and (min-width: 480px) {
  .about--picture .estate-agent--img {
    width: 60%;
  }
}

@media screen and (min-width: 600px) {
  .brusi-propiedades {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
  .header--menu-mobile__label {
    display: none;
  }
  .navbar {
    display: block;
    margin-right: 10px;
  }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar--item {
    list-style: none;
    margin-right: 15px;
  }
  .navbar--item__link {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    position: relative;
    text-decoration: none;
  }
  .home,
  .about,
  .properties,
  .services {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
  .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    height: 400px;
  }
  .about--picture .estate-agent--img {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-right: 0;
  }
  .navbar--item {
    margin-right: 25px;
  }
  .navbar--item__link {
    font-size: 1.3rem;
  }
  .properties div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .filters {
    background-color: #01d3b7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    width: 200px;
  }
  .about--content, .about--invert {
    margin: 25px 50px;
  }
  .about--title__text {
    margin-left: 50px;
  }
  .about--picture .estate-agent--img {
    width: 40%;
  }
  .about--picture .view--img,
  .about--picture .purpose--img,
  .about--picture .mission--img {
    width: 40%;
  }
}

@media screen and (min-width: 900px) {
  .about--content, .about--invert {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 25px 100px;
  }
  .about--paragraph {
    width: 66%;
  }
  .about--picture {
    margin: 0 15px;
    width: 33%;
  }
  .about--title__text {
    font-size: 2.3rem;
    margin-left: 100px;
  }
  .about--picture .estate-agent--img,
  .about--picture .about--picture__img {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .brusi-propiedades {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .home,
  .about,
  .properties,
  .services {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .navbar--item__link::after {
    background-color: #01d3b7;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 28px;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    width: 0;
  }
  .navbar--item__link:hover::after {
    width: 100%;
  }
  #sell {
    background-color: #01a08b;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  #sell:hover {
    background-color: #01d3b7;
  }
  #buy {
    background-color: #1a1a1a;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  #buy:hover {
    background-color: #000000;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero--img-container {
    height: 80vh;
    width: 100%;
  }
  .hero--content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero--content__title, .hero--content__text {
    color: #ffffff;
    font-size: 2rem;
  }
  .hero--content__title {
    font-size: 4rem;
    margin: 50px 0 0 0;
  }
  .hero--content__phrase {
    font-family: "Montserrat", sans-serif;
    font-size: 3.2rem;
    font-weight: lighter;
    margin: 15px 0;
  }
  .hero--buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 450px;
  }
  .hero--buttons__button {
    height: 50px;
    width: 200px;
  }
  .home--services {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 100px;
  }
  .home--services > div {
    width: 600px;
  }
  .home--services__text {
    font-size: 1.5rem;
    text-align: justify;
  }
  .home--services__text h2 {
    margin-top: 0;
  }
  .home--services__text button {
    cursor: pointer;
  }
  .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .footer--links__link:hover {
    color: #01d3b7;
  }
  .frequent-questions {
    width: 700px;
  }
  .frequent-questions--container__label {
    cursor: pointer;
  }
  .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about--content {
    width: 900px;
  }
  .about--title__text {
    font-size: 2.5rem;
  }
  .about--picture__img {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .home--services {
    margin: 50px 100px;
  }
  .home--services img {
    width: 100%;
  }
  .hero--buttons {
    width: 550px;
  }
  .hero--buttons__button {
    font-size: 1.6rem;
    height: 75px;
    width: 250px;
  }
  .properties-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 100px;
    width: 1200px;
  }
  .property {
    -webkit-box-shadow: 3px 3px 6px #a5a5a5;
            box-shadow: 3px 3px 6px #a5a5a5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 400px;
    width: 48%;
  }
  .property--image {
    background-color: blue;
    height: 300px;
    width: 100%;
  }
  .property--details {
    background-color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .property--details__price {
    font-size: 1.5rem;
    margin: 0;
  }
  .property--details div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 15px 15px 15px;
  }
  .property--details div button {
    background-color: #01d3b7;
    border: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    height: 40px;
    width: 150px;
  }
  .property--details__detail {
    margin: 10px 15px;
  }
}
/*# sourceMappingURL=brusiPropiedadesStyles.css.map */