@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500&family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
html,
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

video {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 320px) {
  .brusi-propiedades {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 100px, (1fr)[2], 500px;
        grid-template-rows: 100px, repeat(2, 1fr), 500px;
    min-height: 100vh;
  }
  .brusi-propiedades .spinner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    grid-row: 1/5;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 3px #a5a5a5;
            box-shadow: 0px 3px 3px #a5a5a5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    height: 75px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100000;
  }
  .header--brand__img {
    height: 75px;
    margin-left: 25px;
    width: 150px;
  }
  .header--menu-mobile__label {
    height: 3px;
    width: 35px;
    background-color: #000000;
    margin-right: 25px;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .header--menu-mobile__label::after, .header--menu-mobile__label::before {
    background-color: #000000;
    content: "";
    height: 3px;
    position: absolute;
    top: 9px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 35px;
  }
  .header--menu-mobile__label::before {
    top: -9px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 3px 3px #a5a5a5;
            box-shadow: 0px 3px 3px #a5a5a5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    top: 74px;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    width: 100%;
    z-index: 90000;
  }
  .menu-container ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 450px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 0;
    padding: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    opacity: 0;
  }
  .menu-container ul li {
    list-style: none;
  }
  .menu-container__link {
    color: #000000;
    font-size: 1.8rem;
    text-decoration: none;
  }
  #menu-button {
    display: none;
  }
  #menu-button:checked ~ .menu-container {
    height: 100vh;
    visibility: visible;
  }
  #menu-button:checked ~ .header--menu-mobile__label {
    background-color: #01d3b7;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  #menu-button:checked ~ .header--menu-mobile__label::before {
    background-color: #01d3b7;
    top: 0px;
  }
  #menu-button:checked ~ .header--menu-mobile__label::after {
    background-color: #01d3b7;
    top: 0px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu-button:checked ~ .menu-container ul {
    opacity: 1;
  }
  .navbar {
    display: none;
  }
  .home,
  .about,
  .services,
  .properties,
  .not-found,
  .properties-detail {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    min-height: 100vh;
    margin-top: 75px;
  }
  .home--services {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
  }
  .home--services img {
    height: 100%;
    width: 100%;
    display: block;
  }
  .home--services__text {
    margin: 0 25px;
    text-align: left;
    font-size: 1.3rem;
  }
  .home--services__text button {
    background-color: #01d3b7;
    border: none;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bolder;
    height: 50px;
    margin-bottom: 25px;
    width: 100%;
  }
  .hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero--img-container {
    height: 90vh;
    width: 100%;
  }
  .hero--img-container video {
    height: 100%;
  }
  .hero--content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 25px;
    position: absolute;
  }
  .hero--content__title {
    color: #ffffff;
    font-size: 2.4rem;
    margin: 0;
    text-align: center;
  }
  .hero--content__text {
    -webkit-animation-name: show-text;
            animation-name: show-text;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    color: #ffffff;
    font-size: 1.9rem;
    font-weight: bolder;
    position: relative;
    text-align: center;
  }
  .hero--buttons {
    -webkit-animation-name: show-text;
            animation-name: show-text;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 200px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .hero--buttons div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero--buttons__button {
    border: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: bold;
    height: 50px;
    width: 100%;
  }
  .hero--buttons__text {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bolder;
    margin: 15px 0;
    text-align: center;
  }
  .name--first {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: left-title;
            animation-name: left-title;
    position: relative;
  }
  .name--second {
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: right-title;
            animation-name: right-title;
    position: relative;
  }
  @-webkit-keyframes left-title {
    0% {
      left: -100px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes left-title {
    0% {
      left: -100px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes right-title {
    0% {
      right: -100px;
    }
    100% {
      right: 0;
    }
  }
  @keyframes right-title {
    0% {
      right: -100px;
    }
    100% {
      right: 0;
    }
  }
  @-webkit-keyframes show-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      display: block;
    }
  }
  @keyframes show-text {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      display: block;
    }
  }
  #sell {
    background-color: #01d3b7;
  }
  #buy {
    background-color: #000000;
  }
  .about--title__text {
    color: #01d3b7;
    font-size: 2.2rem;
    text-align: center;
  }
  .about--content {
    margin: 0 25px 50px 25px;
  }
  .about--paragraph__title {
    font-size: 1.6rem;
  }
  .about--paragraph__text {
    font-size: 1.3rem;
    text-align: justify;
  }
  .about--paragraph__text a {
    color: #01d3b7;
  }
  .about--paragraph__button {
    background-color: #01d3b7;
    border: none;
    height: 50px;
    width: 100%;
  }
  .about--paragraph__button .about--button__link {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bolder;
    text-decoration: none;
  }
  .about--invert {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about img {
    width: 100%;
  }
  .about--picture {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about--picture .view--img,
  .about--picture .purpose--img,
  .about--picture .mission--img {
    width: 60%;
  }
  .about--social {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 25px 25px 25px;
  }
  .about--social__title {
    font-size: 1.4rem;
    text-align: center;
  }
  .social-media {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 600px;
    width: 100%;
  }
  .social-media div .social-media--link__img {
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    width: 50px;
  }
  .social-media div .social-media--link__img:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  hr {
    border: 1px solid #e4e4e4;
  }
  .featured-properties {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 0 15px;
  }
  .featured-properties--title {
    text-align: left;
    font-size: 1.9rem;
    margin-bottom: 0;
  }
  .featured-properties--text {
    font-size: 1.3rem;
  }
  .footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #000000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    position: relative;
    height: 600px;
  }
  .footer::after {
    background-color: #01d3b7;
    content: "";
    height: 2px;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
  }
  .footer--logo__img {
    height: 100px;
    width: 100px;
  }
  .footer--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .footer--links__section {
    margin: 0 25px;
  }
  .footer--links__section ul {
    margin: 0;
    padding: 0;
    width: 150px;
  }
  .footer--links__section p,
  .footer--links__section ul li {
    color: #ffffff;
    font-size: 1.3rem;
  }
  .footer--links__section p {
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 15px 0;
  }
  .footer--links__section ul li {
    font-size: 1rem;
    list-style: none;
    margin: 10px 0;
  }
  .footer--links__link {
    color: #ffffff;
    font-size: 1rem;
    list-style: none;
    margin: 25px 0;
    text-decoration: none;
  }
  .footer--phone {
    font-family: 'Montserrat', sans-serif;
  }
  .whatsapp--image {
    bottom: 25px;
    height: 60px;
    position: fixed;
    right: 25px;
    width: 60px;
    z-index: 95000;
  }
  .frequent-questions {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 25px 25px 25px;
  }
  .frequent-questions--title {
    font-size: 1.7rem;
    text-align: center;
  }
  .frequent-questions--container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 5px 0;
    width: 100%;
  }
  .frequent-questions--container__answer {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
    width: 100%;
  }
  .frequent-questions--container__answer p {
    margin: 0 15px 15px 15px;
  }
  .frequent-questions--container__label {
    display: block;
    font-size: 1rem;
    font-weight: bolder;
    margin: 10px 0 10px 15px;
    position: relative;
    width: 100%;
  }
  .frequent-questions--container__label::after {
    background-color: #000000;
    content: "";
    height: 10px;
    position: absolute;
    right: 19px;
    top: 5px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 2px;
  }
  .frequent-questions--container__label::before {
    background-color: #000000;
    content: "";
    height: 2px;
    position: absolute;
    right: 15px;
    top: 9px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 10px;
  }
  #question-1,
  #question-2,
  #question-3,
  #question-4 {
    display: none;
  }
  #question-1:checked ~ .frequent-questions--container__answer,
  #question-2:checked ~ .frequent-questions--container__answer,
  #question-3:checked ~ .frequent-questions--container__answer,
  #question-4:checked ~ .frequent-questions--container__answer {
    max-height: 500px;
  }
  #question-1:checked ~ .frequent-questions--container__label::after,
  #question-2:checked ~ .frequent-questions--container__label::after,
  #question-3:checked ~ .frequent-questions--container__label::after,
  #question-4:checked ~ .frequent-questions--container__label::after {
    opacity: 0;
  }
  #question-1:checked ~ .frequent-questions--container__label::before,
  #question-2:checked ~ .frequent-questions--container__label::before,
  #question-3:checked ~ .frequent-questions--container__label::before,
  #question-4:checked ~ .frequent-questions--container__label::before {
    background-color: #01d3b7;
  }
  #question-1:checked ~ .frequent-questions--container__label,
  #question-2:checked ~ .frequent-questions--container__label,
  #question-3:checked ~ .frequent-questions--container__label,
  #question-4:checked ~ .frequent-questions--container__label {
    color: #01d3b7;
    font-weight: bold;
  }
  .services--title__text {
    color: #01d3b7;
    font-size: 2.2rem;
    text-align: center;
  }
  .services--sell, .services--buy {
    margin: 0 25px;
  }
  .services--sell__title, .services--sell__subtitle, .services--buy__title, .services--buy__subtitle {
    text-align: center;
  }
  .services--sell h4, .services--buy h4 {
    font-size: 1.3rem;
  }
  .services--sell {
    margin: 0 25px 100px 25px;
  }
  .services--sell__title span {
    position: relative;
  }
  .services--sell__title span::after {
    background-color: #01d3b7;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    top: 28px;
    width: 100%;
  }
  .services--buy {
    margin: 0 25px 100px 25px;
  }
  .services--buy__title span {
    position: relative;
  }
  .services--buy__title span::after {
    background-color: #01d3b7;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    top: 28px;
    width: 100%;
  }
  .sell,
  .buy {
    padding: 0;
  }
  .sell div,
  .buy div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 0;
    padding-bottom: 15px;
    -webkit-transition: border-color, .4s ease-in-out;
    transition: border-color, .4s ease-in-out;
  }
  .sell div:hover,
  .buy div:hover {
    border-color: #01d3b7;
    -webkit-box-shadow: 3px 3px 3px #e7e7e7;
            box-shadow: 3px 3px 3px #e7e7e7;
  }
  .sell li,
  .buy li {
    list-style: none;
    font-size: 1.3rem;
    text-align: center;
  }
  .sell img,
  .buy img {
    margin: 25px 0;
    width: 50%;
  }
  .services--button button {
    background-color: #01d3b7;
    border: none;
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bolder;
    height: 50px;
    margin-bottom: 15px;
    width: 100%;
  }
  .form {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #01d3b7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 25px;
  }
  .form--information {
    margin: 0 25px 25px 25px;
  }
  .form--information div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form--text {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 25px 25px 25px;
  }
  .form textarea {
    background-color: #01baa1;
    border: 1px solid #000000;
    font-family: "Arial";
    font-size: 1.2rem;
    font-weight: lighter;
    height: 150px;
    resize: none;
    width: 100%;
  }
  .form textarea::-webkit-input-placeholder {
    color: #005449;
  }
  .form textarea:-ms-input-placeholder {
    color: #005449;
  }
  .form textarea::-ms-input-placeholder {
    color: #005449;
  }
  .form textarea::placeholder {
    color: #005449;
  }
  .form textarea:invalid[focused="true"] {
    border: 2px solid #ff0000;
    color: #ff0000;
  }
  .form textarea:invalid[focused="true"] ~ span {
    display: block;
  }
  .form div button {
    cursor: pointer;
  }
  .form div h3 {
    font-size: 1.9rem;
    text-align: left;
  }
  .form div p {
    font-size: 1.3rem;
    margin: 0;
  }
  .form div label {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 5px;
  }
  .form div input {
    background-color: #01baa1;
    border: 1px solid #000000;
    font-size: 1.2rem;
    height: 40px;
    width: 100%;
  }
  .form div input::-webkit-input-placeholder {
    color: #005449;
    font-weight: lighter;
  }
  .form div input:-ms-input-placeholder {
    color: #005449;
    font-weight: lighter;
  }
  .form div input::-ms-input-placeholder {
    color: #005449;
    font-weight: lighter;
  }
  .form div input::placeholder {
    color: #005449;
    font-weight: lighter;
  }
  .form div input:invalid[focused="true"] {
    border: 2px solid #ff0000;
    color: #ff0000;
  }
  .form div input:invalid[focused="true"] ~ span {
    display: block;
  }
  .form div span {
    color: #ff0000;
    display: none;
    font-size: 1.1rem;
    font-weight: bolder;
    margin-top: 5px;
  }
  .form--contact {
    width: 100%;
  }
  .form--contact div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form--contact__textarea {
    margin: 10px 25px 25px 25px;
  }
  .form--contact__input {
    margin: 10px 0;
    width: 100%;
  }
  .form--contact .form--button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 25px;
  }
  .form--contact .form--button__btn {
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    font-weight: bolder;
    height: 50px;
    margin-bottom: 15px;
    width: 100%;
  }
  .form--contact .form--button__btn:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .form--success-message {
    background-color: #ffffff;
    border: 2px solid #000000;
    color: #01d3b7;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
  }
  .form .form--social {
    margin: 15px 0;
  }
  .form .form--social .social-media {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .inputs--container {
    margin: 0 25px;
  }
  .not-found {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 200px 25px 25px 25px;
  }
  .not-found h1 {
    margin-top: 180px;
    text-align: center;
  }
  .not-found div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .not-found div img {
    -webkit-animation-duration: 2.5s;
            animation-duration: 2.5s;
    animation-direction: alternate-reverse;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-name: not-found;
            animation-name: not-found;
    position: absolute;
    width: 50%;
  }
  .not-found--cta {
    width: 100%;
  }
  .not-found--cta a {
    width: 100%;
  }
  .not-found--cta__button {
    color: #ffffff;
    background-color: #01d3b7;
    border: none;
    font-size: 1.3rem;
    font-weight: bolder;
    height: 50px;
    width: 100%;
  }
  @-webkit-keyframes not-found {
    0% {
      top: 200px;
    }
    100% {
      top: 110px;
    }
  }
  @keyframes not-found {
    0% {
      top: 200px;
    }
    100% {
      top: 110px;
    }
  }
  .properties--title__text {
    color: #01d3b7;
    font-size: 2.2rem;
    text-align: center;
  }
  .properties--content {
    margin: 0 25px 50px 25px;
  }
  .properties--container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .property {
    background-color: #f1f1f1;
    font-weight: bolder;
    margin: 0 0 25px 0;
    width: 100%;
  }
  .property--image {
    overflow: hidden;
    position: relative;
  }
  .property--image__title {
    color: #ffffff;
    font-size: 1.3rem;
    margin-left: 10px;
    position: absolute;
    top: 75%;
  }
  .property--details {
    margin: 0 10px;
  }
  .property--details div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
  .property--details__price {
    font-size: 1.5rem;
    margin: 0;
  }
  .property--details__button {
    background-color: #01d3b7;
    border: none;
    color: #ffffff;
    font-size: 1rem;
    height: 35px;
    width: 100px;
  }
  .filters {
    display: none;
  }
  .slider {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 300px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: relative;
    width: 100%;
  }
  .slider--images {
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .slider--images img {
    height: 100%;
  }
  .slider--arrows {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    top: 48%;
    left: 0px;
    width: 100%;
  }
  .slider--arrows__left, .slider--arrows__right {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 35px;
    margin-left: 5px;
    width: 35px;
  }
  .slider--arrows__left__right, .slider--arrows__right__right {
    margin-left: 0;
    margin-right: 5px;
  }
  .slider--arrows__left img, .slider--arrows__right img {
    -webkit-filter: invert(1);
            filter: invert(1);
    width: 100%;
  }
  .slider--arrows__left:active, .slider--arrows__right:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .property-detail--content {
    margin: 0 25px 15px 25px;
  }
  .property-detail--feature ul {
    padding: 0;
  }
  .property-detail--feature ul li {
    list-style: none;
    margin: 10px 0;
  }
  .property-detail--feature__title {
    margin-left: 25px;
  }
  .property-detail--tour {
    height: 500px;
    margin-bottom: 100px;
  }
  .property-detail--tour iframe {
    height: 100%;
  }
  .property-detail--information h1,
  .property-detail--information h2 {
    margin-left: 25px;
  }
  iframe {
    height: 250px;
    width: 100%;
  }
  .mobile-filters {
    margin-bottom: 25px;
    width: 100%;
  }
  .mobile-filters--button {
    background-color: #01d3b7;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    height: 35px;
    width: 100%;
  }
  .featured-properties .mobile-filters {
    display: none;
  }
  .modal {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    left: 0;
    min-height: 100%;
    min-width: 100vw;
    overflow: scroll;
    position: fixed;
    top: 0;
    z-index: 150000;
  }
  .modal--container {
    background-color: #ffffff;
    height: 100%;
    overflow: scroll;
    position: fixed;
    width: 100vw;
  }
  .modal--container div {
    margin-left: 20px;
    position: relative;
    overflow: auto;
  }
  .modal--container div div {
    margin: 5px 0;
  }
  .modal--container hr {
    margin: 0 20px 15px 20px;
  }
  .modal--title {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .modal--title__text {
    font-size: 1.3rem;
    font-weight: bolder;
  }
  .modal--button {
    background-color: #000000;
    border: none;
    color: #ffffff;
    height: 35px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
  }
  .modal--button::after {
    background-color: #ffffff;
    content: '';
    height: 2px;
    left: 5px;
    position: absolute;
    top: 16px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    width: 25px;
  }
  .modal--button::before {
    background-color: #ffffff;
    content: '';
    height: 2px;
    left: 5px;
    position: absolute;
    top: 16px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    width: 25px;
  }
  .modal--filters {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .modal--filters__button {
    background-color: #000000;
    border: none;
    color: #ffffff;
    font-size: 1.1rem;
    height: 35px;
    padding: 0;
    position: relative;
    width: 90%;
  }
  .price-filter {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 95%;
  }
  .price-filter input {
    height: 30px;
    width: 37%;
  }
  .spinner--container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    width: 100%;
  }
  .map {
    height: 100vh;
    width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .about--picture .estate-agent--img {
    width: 60%;
  }
  .slider {
    height: 250px;
  }
  .slider--images img {
    height: auto;
    width: 100%;
  }
  .property--image__title {
    top: 70%;
  }
}

@media screen and (min-width: 600px) {
  .brusi-propiedades {
    -ms-grid-columns: (1fr)[8];
        grid-template-columns: repeat(8, 1fr);
  }
  .brusi-propiedades .spinner {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
  .header--menu-mobile__label {
    display: none;
  }
  .navbar {
    display: block;
    margin-right: 10px;
  }
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar--item {
    list-style: none;
    margin-right: 15px;
  }
  .navbar--item__link {
    color: #000000;
    font-size: 1.1rem;
    position: relative;
    text-decoration: none;
  }
  .home,
  .about,
  .properties,
  .services,
  .properties-detail,
  .not-found {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
  }
  .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 8;
    grid-column: 1/9;
    height: 400px;
  }
  .about--picture .estate-agent--img {
    width: 50%;
  }
  .sell div,
  .buy div {
    margin: 50px;
  }
  .sell div li,
  .buy div li {
    width: 450px;
  }
  .sell div img,
  .buy div img {
    width: 30%;
  }
  .properties--content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .properties--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .property {
    margin: 15px 5px;
    width: 48%;
  }
  .property--details__price {
    font-size: 1.4rem;
  }
  .property--image__title {
    top: 75%;
  }
  .property-detail {
    margin: 50px 100px;
  }
  .property-detail--information div h1,
  .property-detail--information div h2 {
    margin: 25px 0;
  }
  .property-detail--content, .property-detail--feature {
    margin: 0;
  }
  .property-detail--content iframe, .property-detail--feature iframe {
    height: 325px;
  }
  .property-detail--feature__title {
    margin: 20px 0;
  }
  .slider {
    height: 280px;
  }
  .slider--images {
    height: 400px;
  }
  .slider--images img {
    height: 100%;
  }
  .properties-detail .slider img {
    width: 100%;
  }
  .footer {
    height: 500px;
  }
  .footer--links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 400px;
  }
  .hero--content__text {
    margin: 10px 0;
  }
  .hero--buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
  }
  .hero--buttons p {
    margin: 10px 0;
  }
  .hero--buttons div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-right: 0;
  }
  .navbar--item {
    margin-right: 25px;
  }
  .navbar--item__link {
    font-size: 1.3rem;
  }
  .about--content, .about--invert {
    margin: 25px 50px;
  }
  .about--title__text {
    margin-left: 50px;
  }
  .about--picture .estate-agent--img {
    width: 40%;
  }
  .about--picture .view--img,
  .about--picture .purpose--img,
  .about--picture .mission--img {
    width: 40%;
  }
  .hero--content__title {
    font-size: 4rem;
  }
  .hero--content__text {
    font-size: 2rem;
  }
  .hero--buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero--buttons__text {
    font-size: 2rem;
  }
  .hero--buttons div {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 600px;
  }
  .hero button {
    width: 250px;
  }
  .home--services button {
    width: 250px;
  }
  .services--button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services--button button {
    width: 500px;
  }
  .form--contact {
    width: 600px;
  }
}

@media screen and (min-width: 900px) {
  .about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about--container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 25px;
    max-width: 1200px;
  }
  .about--content, .about--invert {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 50px 25px;
  }
  .about--invert {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .about--picture {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 15px;
    overflow: hidden;
    height: 100px;
    width: 20%;
  }
  .about--picture img {
    width: 100%;
  }
  .about--title__text {
    font-size: 2.3rem;
    margin: 50px 0;
  }
  .about--picture .estate-agent--img,
  .about--picture .about--picture__img {
    width: 100%;
  }
  .purpose--picture,
  .mission--picture,
  .view--picture {
    height: 200px;
  }
  .purpose--img,
  .mission--img,
  .view--img {
    width: 50%;
  }
  .property {
    width: 48%;
  }
  .footer {
    height: 350px;
  }
  .footer--links {
    width: 800px;
  }
  .hero--content__title {
    font-size: 3.5rem;
  }
  .hero--buttons p {
    margin: 20px 0;
  }
  .slider {
    height: 350px;
  }
}

@media screen and (min-width: 1024px) {
  .brusi-propiedades {
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
  }
  .brusi-propiedades .spinner {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .home,
  .about,
  .properties,
  .services,
  .properties-detail,
  .not-found {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .navbar--item__link::after {
    background-color: #01d3b7;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 28px;
    -webkit-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-transition-property: width;
    transition-property: width;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    width: 0;
  }
  .navbar--item__link:hover::after {
    width: 100%;
  }
  #sell,
  #buy {
    background-color: #01d3b7;
    overflow: hidden;
    position: relative;
  }
  #sell > span,
  #buy > span {
    position: relative;
    z-index: 120;
  }
  #sell::after,
  #buy::after {
    border-right: 80px solid transparent;
    border-bottom: 75px solid #000000;
    content: '';
    height: 75px;
    left: -350px;
    position: absolute;
    top: -75px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  #sell:hover::after,
  #buy:hover::after {
    left: 0;
  }
  .sell,
  .buy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .sell div,
  .buy div {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 50px 5px;
    height: auto;
    width: 300px;
  }
  .sell div img,
  .buy div img {
    height: 50%;
    width: 50%;
  }
  .sell div li,
  .buy div li {
    text-align: center;
    width: 275px;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero--img-container {
    height: calc(100vh - 70px);
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .hero--content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero--content__title, .hero--content__text {
    color: #ffffff;
  }
  .hero--content__text {
    -webkit-animation: show-text;
            animation: show-text;
    -webkit-animation-duration: 6s;
            animation-duration: 6s;
    font-size: 2.8rem;
    margin: 25px 0;
  }
  @-webkit-keyframes show-text {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes show-text {
    0% {
      opacity: 0;
    }
    99% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .hero--content__title {
    font-size: 5rem;
    margin: 35px 0 0 0;
  }
  .hero--content__phrase {
    font-size: 3.2rem;
    font-weight: lighter;
    margin: 15px 0;
  }
  .hero--buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 500px;
  }
  .hero--buttons div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .hero--buttons div .hero--buttons__button {
    height: 50px;
    width: 200px;
  }
  .name--first {
    position: relative;
    -webkit-animation-name: up-word;
            animation-name: up-word;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  .name--second {
    position: relative;
    -webkit-animation-name: down-word;
            animation-name: down-word;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
  }
  @-webkit-keyframes up-word {
    0% {
      top: 50px;
    }
    100% {
      top: 0;
    }
  }
  @keyframes up-word {
    0% {
      top: 50px;
    }
    100% {
      top: 0;
    }
  }
  @-webkit-keyframes down-word {
    0% {
      top: -50px;
    }
    100% {
      top: 0;
    }
  }
  @keyframes down-word {
    0% {
      top: -50px;
    }
    100% {
      top: 0;
    }
  }
  .home--services {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 50px 100px;
  }
  .home--services__text {
    font-size: 1.5rem;
    text-align: justify;
  }
  .home--services__text h2 {
    margin-top: 0;
  }
  .home--services__text button {
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .home--services__text button > span {
    position: relative;
    z-index: 1000;
  }
  .home--services__text button::after {
    border-right: 80px solid transparent;
    border-bottom: 75px solid #000000;
    content: '';
    height: 50px;
    left: -350px;
    position: absolute;
    text-align: center;
    top: -50px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
  }
  .home--services__text button:hover::after {
    left: 0;
  }
  .featured-properties {
    margin: 0 100px;
  }
  .featured-properties--title {
    font-size: 1.5rem;
  }
  .footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
  }
  .footer--links__link:hover {
    color: #01d3b7;
  }
  .frequent-questions {
    width: 700px;
  }
  .frequent-questions--title {
    font-size: 2.3rem;
  }
  .frequent-questions--container__label {
    cursor: pointer;
  }
  .about--title__text {
    font-size: 4rem;
  }
  .about--paragraph {
    width: 65%;
  }
  .about--paragraph__title {
    margin-top: 0;
  }
  .about--paragraph__button {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 300px;
  }
  .about--paragraph__button span {
    position: relative;
    z-index: 125;
  }
  .about--paragraph__button::after {
    border-right: 80px solid transparent;
    border-bottom: 75px solid #000000;
    content: '';
    height: 75px;
    left: -360px;
    position: absolute;
    top: -75px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }
  .about--paragraph__button:hover::after {
    left: 0;
  }
  .about--paragraph__joni {
    margin-top: 45px;
  }
  .about--paragraph__gustavo {
    margin-top: 30px;
  }
  .about--picture {
    height: auto;
    width: 25%;
  }
  .about--picture .estate-agent--img,
  .about--picture .about--picture__img {
    width: 100%;
  }
  .services {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .services--sell, .services--buy {
    margin: 0 100px 25px 100px;
  }
  .services--sell__title, .services--sell__subtitle, .services--buy__title, .services--buy__subtitle {
    font-size: 2.7rem;
  }
  .services--sell__subtitle, .services--buy__subtitle {
    font-size: 2.3rem;
  }
  .services--title__text {
    font-size: 4rem;
  }
  .services--button {
    padding-top: 150px;
  }
  .services--button button {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    width: 400px;
  }
  .services--button button > span {
    position: relative;
    z-index: 1000;
  }
  .services--button button::after {
    border-right: 80px solid transparent;
    border-bottom: 75px solid #000000;
    content: '';
    height: 50px;
    left: -475px;
    position: absolute;
    text-align: center;
    top: -50px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
  }
  .services--button button:hover::after {
    left: 0;
  }
  .services--sell__title span::after {
    top: 50px;
  }
  .services--buy__title span::after {
    top: 50px;
  }
  .filters {
    background-color: #01d3b7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin-right: 20px;
    width: 250px;
  }
  .filters div input {
    margin-left: 0;
  }
  .filters div .filters--title {
    font-size: 1.3rem;
  }
  .filters > div {
    margin: 0 10px;
  }
  .filters label {
    cursor: pointer;
  }
  .properties--content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .properties--container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .properties--title__text {
    font-size: 4rem;
  }
  .property {
    margin: 0 5px 15px 5px;
  }
  .property--details div button {
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .property--details div button > span {
    position: relative;
    z-index: 1000;
  }
  .property--details div button::after {
    border-right: 80px solid transparent;
    border-bottom: 75px solid #000000;
    content: '';
    height: 50px;
    left: -140px;
    position: absolute;
    text-align: center;
    top: -50px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 100%;
  }
  .property--details div button:hover::after {
    left: 0;
  }
  .property-detail {
    max-width: 900px;
  }
  .property-detail--feature iframe {
    height: 400px;
  }
  .properties-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .properties-detail .slider {
    height: 400px;
  }
  .properties-detail .slider img {
    width: 100%;
  }
  .check {
    padding: 0;
  }
  .check label {
    cursor: pointer;
  }
  .form--contact .form--button {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin: 0;
  }
  .form--contact .form--button__btn {
    background-color: #1a1a1a;
    margin-right: 19px;
    width: 45%;
  }
  .form--contact .form--button__btn:hover {
    background-color: #000000;
  }
  .form--contact .form--button__btn:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  .mobile-filters {
    display: none;
  }
  .price-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .price-filter input {
    height: 15px;
    width: 65px;
  }
  .form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form--contact {
    margin-top: 25px;
  }
  .form--contact__input {
    width: 48%;
  }
  .form .inputs--container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form .form--social .social-media {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .frequent-questions--container {
    -webkit-transition: border-color, .4s ease-in-out;
    transition: border-color, .4s ease-in-out;
  }
  .frequent-questions--container:hover {
    border-color: #01d3b7;
  }
}

@media screen and (min-width: 1124px) {
  .property--image {
    height: 200px;
  }
  .property--image__title {
    top: 63%;
  }
  .slider {
    height: 280px;
  }
  .slider--images img {
    height: auto;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .home--services {
    margin: 50px 100px;
  }
  .home--services img {
    width: 100%;
  }
  .hero--content__title {
    font-size: 7rem;
  }
  .hero--buttons {
    width: 550px;
  }
  .hero--buttons div {
    width: 100%;
  }
  .hero--buttons div .hero--buttons__button {
    font-size: 1.6rem;
    height: 75px;
    width: 250px;
  }
  .sell,
  .buy {
    max-width: 1500px;
  }
  .sell div,
  .buy div {
    width: 300px;
  }
  .sell div img,
  .buy div img {
    width: 40%;
  }
  .property--image {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 300px;
    margin: 0;
    overflow: hidden;
  }
  .property--image__title {
    top: 73%;
  }
  .slider {
    height: 350px;
  }
  .slider--images img {
    height: 100%;
    -webkit-transform: translateY(-15%);
            transform: translateY(-15%);
    width: auto;
  }
  .services--button {
    padding-top: 75px;
  }
}

@media screen and (min-width: 1368px) {
  .property--image {
    height: 270px;
  }
  .slider {
    height: 300px;
  }
  .slider--images img {
    height: auto;
    width: 100%;
  }
}

@media screen and (min-width: 1500px) {
  .services--buy, .services--sell {
    width: 1500px;
  }
}

@media screen and (min-width: 1840px) {
  .property--image {
    height: 375px;
  }
  .property--image__title {
    top: 80%;
  }
  .slider {
    height: 375px;
  }
}
/*# sourceMappingURL=brusiPropiedadesStyles.css.map */