// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500&family=Montserrat:wght@400;500;700&display=swap");

// VARIABLES

// Colors
$black: #000000;
$aqua: #01d3b7;
$bgc: #ffffff;
$bgc2: #f1f1f1;

// GENERAL STYLES
html,
body {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

// MOBILE
@media screen and (min-width: 320px) {
  .brusi-propiedades {
    display: grid;
    font-family: "Crimson Pro", serif;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px, repeat(2, 1fr), 500px;
    min-height: 100vh;
  }

  .header {
    align-items: center;
    background-color: $bgc;
    box-shadow: 0px 3px 3px darken($bgc2, 30);
    display: flex;
    grid-column: 1/5;
    grid-row: 1/2;
    height: 75px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100000;

    // Logo
    &--brand {
      &__img {
        height: 75px;
        margin-left: 25px;
        width: 150px;
      }
    }

    &--menu-mobile__label {
      height: 3px;
      width: 35px;
      background-color: $black;
      margin-right: 25px;
      position: absolute;
      right: 0;
      transition: all 0.5s ease-in-out;

      &::after,
      &::before {
        background-color: $black;
        content: "";
        height: 3px;
        position: absolute;
        top: 9px;
        transition: all 0.5s ease-in-out;
        width: 35px;
      }

      &::before {
        top: -9px;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .menu-container {
    align-items: flex-start;
    background-color: $bgc;
    box-shadow: 0px 3px 3px darken($bgc2, 30);
    display: flex;
    height: 0;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    top: 74px;
    transition: all 0.5s ease-out;
    width: 100%;
    z-index: 90000;

    & ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 450px;
      justify-content: space-between;
      margin: 50px 0;
      padding: 0;
      transition: all 0.5s ease-out;
      opacity: 0;

      & li {
        font-family: "Montserrat", sans-serif;
        list-style: none;
      }
    }

    &__link {
      color: $black;
      font-size: 1.8rem;
      text-decoration: none;
    }
  }

  // Menu mobile
  #menu-button {
    display: none;
  }

  #menu-button:checked ~ .menu-container {
    height: 100vh;
    visibility: visible;
  }

  #menu-button:checked ~ .header--menu-mobile__label {
    background-color: $aqua;
    transform: rotate(135deg);
  }

  #menu-button:checked ~ .header--menu-mobile__label::before {
    background-color: $aqua;
    top: 0px;
  }

  #menu-button:checked ~ .header--menu-mobile__label::after {
    background-color: $aqua;
    top: 0px;
    transform: rotate(90deg);
  }

  #menu-button:checked ~ .menu-container ul {
    opacity: 1;
  }

  .navbar {
    display: none;
  }

  // Pages
  .home,
  .about,
  .services,
  .properties {
    grid-column: 1/5;
    grid-row: 2/4;
    min-height: 100vh;
    margin-top: 75px;
  }

  // Home
  .home {
    &--services {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;

      & img {
        height: 100%;
        width: 100%;
      }

      &__text {
        margin: 0 25px;
        text-align: justify;
        font-family: "Crimson Pro", serif;
        font-size: 1.3rem;

        & h2 {
          font-family: "Montserrat", sans-serif;
        }

        & button {
          background-color: $aqua;
          border: none;
          color: $bgc;
          font-size: 1.1rem;
          font-weight: bold;
          height: 40px;
          margin-bottom: 25px;
          width: 150px;
        }
      }
    }
  }

  // Hero
  .hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--img-container {
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../images/Barrio Brickland-63.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 500px;
      width: 100%;
    }

    &--content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 25px;
      position: absolute;

      &__title {
        color: $bgc;
        font-family: "Montserrat", sans-serif;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
      }

      &__text {
        color: $bgc;
        font-family: "Montserrat", sans-serif;
        font-size: 1.4rem;
        text-align: center;
      }
    }

    &--buttons {
      display: flex;
      flex-direction: column;
      height: 120px;
      justify-content: space-between;

      &__button {
        border: 0;
        color: $bgc;
        cursor: pointer;
        font-family: "Montserrat", sans-serif;
        font-size: 1.2rem;
        font-weight: bold;
        height: 50px;
        width: 200px;
      }
    }
  }

  #sell {
    background-color: $aqua;
  }

  #buy {
    background-color: $black;
  }

  // About
  .about {
    &--title__text {
      font-family: 'Montserrat', sans-serif;
      margin-left: 25px;
    }

    &--content {
      margin: 0 25px 50px 25px;
    }

    &--paragraph {
      &__title {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.6rem;
      }

      &__text {
        font-size: 1.3rem;
        text-align: justify;

        & a {
          color: $aqua;
        }
      }

      &__button {
        background-color: $aqua;
        border: none;
        height: 40px;
        width: 150px;

        & .about--button__link {
          color: $bgc;
          font-size: .9rem;
          font-weight: bolder;
          text-decoration: none;
        }
      }
    }

    &--invert {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }

    & img {
      width: 100%;
    }

    &--picture {
      align-items: center;
      display: flex;
      justify-content: center;

      .view--img,
      .purpose--img,
      .mission--img {
        width: 60%;
      }
    }
  }

  // About social media icons
  .about--social {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 25px 25px 25px;

    &__title {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
    }
  }

  .social-media {
    align-items: center;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    width: 100%;

    & div .social-media--link__img {
      transition: all 0.1s ease-in-out;
      width: 50px;
    }

    & div .social-media--link__img:active {
      transform: scale(0.9);
    }
  }

  .featured-properties {
    align-items: center;
    background-color: $bgc2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &--title {
      font-family: "Montserrat", sans-serif;
      text-align: center;
    }
  }

  .footer {
    align-items: center;
    display: flex;
    background-color: $black;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    grid-column: 1/5;
    grid-row: 4/5;
    position: relative;
    height: 500px;

    &::after {
      background-color: $aqua;
      content: "";
      height: 2px;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
    }

    &--logo {
      &__img {
        height: 100px;
        width: 100px;
      }
    }

    &--links {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 25px;

      &__section {
        margin-bottom: 20px;

        & ul {
          margin: 0;
          padding: 0;
          width: 150px;
        }

        & p,
        & ul li {
          color: $bgc;
          font-size: 1.3rem;
        }

        & p {
          font-size: 1.2rem;
          margin: 15px 0;
        }

        & ul li {
          font-size: 1rem;
          list-style: none;
          margin: 10px 0;
        }
      }

      &__link {
        color: $bgc;
        font-size: 1rem;
        list-style: none;
        margin: 25px 0;
        text-decoration: none;
      }
    }
  }

  .whatsapp {
    &--image {
      bottom: 25px;
      height: 60px;
      position: fixed;
      right: 25px;
      width: 60px;
      z-index: 95000;
    }
  }

  .frequent-questions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25px 25px 25px;

    &--title {
      font-family: "Montserrat", sans-serif;
      font-size: 1.7rem;
      text-align: center;
    }

    &--container {
      align-items: center;
      border: 1px solid $bgc2;
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: center;
      margin: 5px 0;
      width: 100%;

      &__answer {
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        width: 100%;

        & p {
          margin: 0 15px;
        }
      }

      &__label {
        display: block;
        font-family: "Montserrat", sans-serif;
        font-size: 1rem;
        font-weight: bolder;
        margin: 10px 0 10px 15px;
        position: relative;
        width: 100%;

        &::after {
          background-color: $black;
          content: "";
          height: 10px;
          position: absolute;
          right: 19px;
          top: 5px;
          transition: all 0.2s ease-in-out;
          width: 2px;
        }

        &::before {
          background-color: $black;
          content: "";
          height: 2px;
          position: absolute;
          right: 15px;
          top: 9px;
          transition: all 0.2s ease-in-out;
          width: 10px;
        }
      }
    }
  }

  #question-1,
  #question-2,
  #question-3,
  #question-4 {
    display: none;
  }

  #question-1:checked ~ .frequent-questions--container__answer,
  #question-2:checked ~ .frequent-questions--container__answer,
  #question-3:checked ~ .frequent-questions--container__answer,
  #question-4:checked ~ .frequent-questions--container__answer {
    height: 50px;
    visibility: visible;
  }

  #question-1:checked ~ .frequent-questions--container__label::after,
  #question-2:checked ~ .frequent-questions--container__label::after,
  #question-3:checked ~ .frequent-questions--container__label::after,
  #question-4:checked ~ .frequent-questions--container__label::after {
    opacity: 0;
  }

  #question-1:checked ~ .frequent-questions--container__label::before,
  #question-2:checked ~ .frequent-questions--container__label::before,
  #question-3:checked ~ .frequent-questions--container__label::before,
  #question-4:checked ~ .frequent-questions--container__label::before {
    background-color: $aqua;
  }

  #question-1:checked ~ .frequent-questions--container__label,
  #question-2:checked ~ .frequent-questions--container__label,
  #question-3:checked ~ .frequent-questions--container__label,
  #question-4:checked ~ .frequent-questions--container__label {
    color: $aqua;
    font-weight: bold;
  }

  .services,
  .buy {
    &--title {
      &__text {
        font-family: 'Montserrat', sans-serif;
        margin-left: 25px;
      }
    }

    &--sell,
    &--buy {
      margin: 0 25px;
      &__title,
      &__subtitle {
        font-family: 'Montserrat', sans-serif;
      }
    }
  }

  .sell,
  .buy {
    padding: 0;

    & div {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 50px 0;
    }

    & li {
      list-style: none;
      font-size: 1.3rem;
      text-align: center;
    }

    img {
      margin: 25px 0;
      width: 50%;
    }
  }
}

@media screen and (min-width: 480px) {
  .about--picture .estate-agent--img {
    width: 60%;
  }
}

// TABLET
@media screen and (min-width: 600px) {
  .brusi-propiedades {
    grid-template-columns: repeat(8, 1fr);
  }

  .header {
    grid-column: 1/9;

    &--menu-mobile__label {
      display: none;
    }
  }

  .navbar {
    display: block;
    margin-right: 10px;

    & ul {
      display: flex;
    }

    &--item {
      list-style: none;
      margin-right: 15px;
    }

    &--item__link {
      color: $black;
      font-family: "Montserrat", sans-serif;
      font-size: 1.1rem;
      position: relative;
      text-decoration: none;
    }
  }

  .home,
  .about,
  .properties,
  .services {
    grid-column: 1/9;
  }

  .footer {
    grid-column: 1/9;
    height: 400px;
  }

  .about--picture .estate-agent--img {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-right: 0;
    &--item {
      margin-right: 25px;
      &__link {
        font-size: 1.3rem;
      }
    }
  }

  .properties {
    & div {
      display: flex;
    }
  }

  .filters {
    background-color: $aqua;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
  }

  .about {
    &--content,
    &--invert {
      margin: 25px 50px;
    }

    &--title__text {
      margin-left: 50px;
    }

    &--picture {
      & .estate-agent--img {
        width: 40%;
      }
    }
  }

  .about--picture {
    .view--img,
    .purpose--img,
    .mission--img {
      width: 40%;
    }
  }
}

@media screen and (min-width: 900px) {
  .about {
    &--content,
    &--invert {
      align-items: center;
      display: flex;
      flex-direction: row;
      margin: 25px 100px;
    }

    &--paragraph {
      width: 66%;
    }

    &--picture {
      margin: 0 15px;
      width: 33%;
    }

    &--title__text {
      font-size: 2.3rem;
      margin-left: 100px;
    }
  }

  .about--picture .estate-agent--img,
  .about--picture .about--picture__img {
    width: 100%;
  }
}

// DESKTOP
@media screen and (min-width: 1024px) {
  .brusi-propiedades {
    grid-template-columns: repeat(12, 1fr);
  }

  .header {
    grid-column: 1/13;
  }

  .home,
  .about,
  .properties,
  .services {
    grid-column: 1/13;
  }

  .navbar {
    &--item__link::after {
      background-color: $aqua;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      top: 28px;
      transition: width 0.3s ease-in-out;
      transition-property: width;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
      width: 0;
    }

    &--item__link:hover::after {
      width: 100%;
    }
  }

  #sell {
    background-color: darken($aqua, 10);
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $aqua;
    }
  }

  #buy {
    background-color: lighten($black, 10);
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $black;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--img-container {
      height: 80vh;
      width: 100%;
    }

    &--content {
      align-items: center;
      display: flex;
      position: absolute;
      justify-content: center;

      &__title,
      &__text {
        color: $bgc;
        font-size: 2rem;
      }

      &__title {
        font-size: 4rem;
        margin: 50px 0 0 0;
      }

      &__phrase {
        font-family: "Montserrat", sans-serif;
        font-size: 3.2rem;
        font-weight: lighter;
        margin: 15px 0;
      }
    }

    &--buttons {
      flex-direction: row;
      width: 450px;

      &__button {
          height: 50px;
          width: 200px;
      }
    }
  }

  .home {
    &--services {
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
      margin: 50px 100px;

      & > div {
        width: 600px;
      }

      &__text {
        font-size: 1.5rem;
        text-align: justify;

        & h2 {
          margin-top: 0;
        }

        & button {
          cursor: pointer;
        }
      }
    }
  }

  .footer {
    grid-column: 1/13;

    &--links__link:hover {
      color: $aqua;
    }
  }

  .frequent-questions {
    width: 700px;

    &--container__label {
      cursor: pointer;
    }
  }

  .about {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &--content {
      width: 900px;
    }

    &--title__text {
      font-size: 2.5rem;
    }

    &--picture {

      &__img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .home {
    &--services {
      margin: 50px 100px;
      & img {
        width: 100%;
      }
    }
  }

  .hero {
      &--buttons {
        width: 550px;
        
          &__button {
            font-size: 1.6rem;
            height: 75px;
            width: 250px;
          }
      }
  }

  .properties-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    width: 1200px;
  }

  .property {
    box-shadow: 3px 3px 6px darken($bgc2, 30);
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    height: 400px;
    width: 48%;

    &--image {
      background-color: blue;
      height: 300px;
      width: 100%;
    }

    &--details {
      background-color: $bgc;
      display: flex;
      flex-direction: column;
      height: 100px;
      justify-content: space-between;
      width: 100%;

      &__price {
        font-size: 1.5rem;
        margin: 0;
      }

      & div {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 15px 15px 15px;

        & button {
          background-color: $aqua;
          border: none;
          color: $bgc;
          cursor: pointer;
          font-size: 1.1rem;
          font-weight: bold;
          height: 40px;
          width: 150px;
        }
      }

      &__detail {
        margin: 10px 15px;
      }
    }
  }
}
