// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500&family=Montserrat:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

// VARIABLES

// Colors
$black: #000000;
$aqua: #01d3b7;
$bgc: #ffffff;
$bgc2: #f1f1f1;

// GENERAL STYLES
html,
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

video {
  width: 100%;
  object-fit: cover;
}

// MOBILE
@media screen and (min-width: 320px) {
  .brusi-propiedades {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px, repeat(2, 1fr), 500px;
    min-height: 100vh;
  }

  .header {
    align-items: center;
    background-color: $bgc;
    box-shadow: 0px 3px 3px darken($bgc2, 30);
    display: flex;
    grid-column: 1/5;
    grid-row: 1/2;
    height: 75px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 100000;

    // Logo
    &--brand {
      &__img {
        height: 75px;
        margin-left: 25px;
        width: 150px;
      }
    }

    &--menu-mobile__label {
      height: 3px;
      width: 35px;
      background-color: $black;
      margin-right: 25px;
      position: absolute;
      right: 0;
      transition: all 0.5s ease-in-out;

      &::after,
      &::before {
        background-color: $black;
        content: "";
        height: 3px;
        position: absolute;
        top: 9px;
        transition: all 0.5s ease-in-out;
        width: 35px;
      }

      &::before {
        top: -9px;
        transition: all 0.5s ease-in-out;
      }
    }
  }

  .menu-container {
    align-items: flex-start;
    background-color: $bgc;
    box-shadow: 0px 3px 3px darken($bgc2, 30);
    display: flex;
    height: 0;
    justify-content: center;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    top: 74px;
    transition: all 0.5s ease-out;
    width: 100%;
    z-index: 90000;

    & ul {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 450px;
      justify-content: space-between;
      margin: 50px 0;
      padding: 0;
      transition: all 0.5s ease-out;
      opacity: 0;

      & li {
        list-style: none;
      }
    }

    &__link {
      color: $black;
      font-size: 1.8rem;
      text-decoration: none;
    }
  }

  // Menu mobile
  #menu-button {
    display: none;
  }

  #menu-button:checked ~ .menu-container {
    height: 100vh;
    visibility: visible;
  }

  #menu-button:checked ~ .header--menu-mobile__label {
    background-color: $aqua;
    transform: rotate(135deg);
  }

  #menu-button:checked ~ .header--menu-mobile__label::before {
    background-color: $aqua;
    top: 0px;
  }

  #menu-button:checked ~ .header--menu-mobile__label::after {
    background-color: $aqua;
    top: 0px;
    transform: rotate(90deg);
  }

  #menu-button:checked ~ .menu-container ul {
    opacity: 1;
  }

  .navbar {
    display: none;
  }

  // Pages
  .home,
  .about,
  .services,
  .properties,
  .not-found,
  .properties-detail {
    grid-column: 1/5;
    grid-row: 2/4;
    min-height: 100vh;
    margin-top: 75px;
  }

  // Home
  .home {
    &--services {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      margin-bottom: 25px;

      & img {
        height: 100%;
        width: 100%;
        display: block;
      }

      &__text {
        margin: 0 25px;
        text-align: left;
        font-size: 1.3rem;

        & button {
          background-color: $aqua;
          border: none;
          color: $bgc;
          font-size: 1.4rem;
          font-weight: bolder;
          height: 50px;
          margin-bottom: 25px;
          width: 100%;
        }
      }
    }
  }

  // Hero
  .hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--img-container {
      height: 90vh;
      width: 100%;

      & video {
        height: 100%;
      }
    }

    &--content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 25px;
      position: absolute;

      &__title {
        color: $bgc;
        font-size: 2.4rem;
        margin: 0;
        text-align: center;
        animation: hero 2s;
      }

      @keyframes hero {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      &__text {
        color: $bgc;
        font-size: 1.9rem;
        font-weight: bolder;
        text-align: center;
      }
    }

    &--buttons {
      display: flex;
      flex-direction: column;
      height: 200px;
      justify-content: space-between;
      width: 100%;

      & div {
        display: flex;
        flex-direction: column;
        height: 120px;
        justify-content: space-between;
      }

      &__button {
        border: 0;
        color: $bgc;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: bold;
        height: 50px;
        width: 100%;
      }

      &__text {
        color: $bgc;
        font-size: 1.5rem;
        font-weight: bolder;
        margin: 15px 0;
        text-align: center;
      }
    }
  }

  #sell {
    background-color: $aqua;
  }

  #buy {
    background-color: $black;
  }

  // About
  .about {
    &--title__text {
      color: $aqua;
      font-size: 2.2rem;
      text-align: center;
    }

    &--content {
      margin: 0 25px 50px 25px;
    }

    &--paragraph {
      &__title {
        font-size: 1.6rem;
      }

      &__text {
        font-size: 1.3rem;
        text-align: justify;

        & a {
          color: $aqua;
        }
      }

      &__button {
        background-color: $aqua;
        border: none;
        height: 50px;
        width: 100%;

        & .about--button__link {
          color: $bgc;
          font-size: 1.4rem;
          font-weight: bolder;
          text-decoration: none;
        }
      }
    }

    &--invert {
      align-items: center;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }

    & img {
      width: 100%;
    }

    &--picture {
      align-items: center;
      display: flex;
      justify-content: center;

      .view--img,
      .purpose--img,
      .mission--img {
        width: 60%;
      }
    }
  }

  // About social media icons
  .about--social {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 25px 25px 25px;

    &__title {
      font-size: 1.4rem;
      text-align: center;
    }
  }

  .social-media {
    align-items: center;
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    width: 100%;

    & div .social-media--link__img {
      transition: all 0.1s ease-in-out;
      width: 50px;
    }

    & div .social-media--link__img:active {
      transform: scale(0.9);
    }
  }

  hr {
    border: 1px solid darken($bgc2, 5);
  }

  .featured-properties {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 15px;

    &--title {
      text-align: left;
      font-size: 1.9rem;
      margin-bottom: 0;
    }

    &--text {
      font-size: 1.3rem;
    }
  }

  .footer {
    align-items: center;
    display: flex;
    background-color: $black;
    flex-direction: column;
    grid-column: 1/5;
    grid-row: 4/5;
    position: relative;
    height: 600px;

    &::after {
      background-color: $aqua;
      content: "";
      height: 2px;
      position: absolute;
      top: 100px;
      left: 0;
      width: 100%;
    }

    &--logo {
      &__img {
        height: 100px;
        width: 100px;
      }
    }

    &--links {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;

      &__section {
        margin: 0 25px;

        & ul {
          margin: 0;
          padding: 0;
          width: 150px;
        }

        & p,
        & ul li {
          color: $bgc;
          font-size: 1.3rem;
        }

        & p {
          font-size: 1.2rem;
          font-weight: bolder;
          margin: 15px 0;
        }

        & ul li {
          font-size: 1rem;
          list-style: none;
          margin: 10px 0;
        }
      }

      &__link {
        color: $bgc;
        font-size: 1rem;
        list-style: none;
        margin: 25px 0;
        text-decoration: none;
      }
    }

    &--phone {
      font-family: 'Montserrat', sans-serif;
    }
  }

  .whatsapp {
    &--image {
      bottom: 25px;
      height: 60px;
      position: fixed;
      right: 25px;
      width: 60px;
      z-index: 95000;
    }
  }

  .frequent-questions {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 25px 25px 25px;

    &--title {
      font-size: 1.7rem;
      text-align: center;
    }

    &--container {
      align-items: center;
      border: 1px solid $bgc2;
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: center;
      margin: 5px 0;
      width: 100%;

      &__answer {
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        visibility: hidden;
        width: 100%;

        & p {
          margin: 0 15px;
        }
      }

      &__label {
        display: block;
        font-size: 1rem;
        font-weight: bolder;
        margin: 10px 0 10px 15px;
        position: relative;
        width: 100%;

        &::after {
          background-color: $black;
          content: "";
          height: 10px;
          position: absolute;
          right: 19px;
          top: 5px;
          transition: all 0.2s ease-in-out;
          width: 2px;
        }

        &::before {
          background-color: $black;
          content: "";
          height: 2px;
          position: absolute;
          right: 15px;
          top: 9px;
          transition: all 0.2s ease-in-out;
          width: 10px;
        }
      }
    }
  }

  #question-1,
  #question-2,
  #question-3,
  #question-4 {
    display: none;
  }

  #question-1:checked ~ .frequent-questions--container__answer,
  #question-2:checked ~ .frequent-questions--container__answer,
  #question-3:checked ~ .frequent-questions--container__answer,
  #question-4:checked ~ .frequent-questions--container__answer {
    height: 50px;
    visibility: visible;
  }

  #question-1:checked ~ .frequent-questions--container__label::after,
  #question-2:checked ~ .frequent-questions--container__label::after,
  #question-3:checked ~ .frequent-questions--container__label::after,
  #question-4:checked ~ .frequent-questions--container__label::after {
    opacity: 0;
  }

  #question-1:checked ~ .frequent-questions--container__label::before,
  #question-2:checked ~ .frequent-questions--container__label::before,
  #question-3:checked ~ .frequent-questions--container__label::before,
  #question-4:checked ~ .frequent-questions--container__label::before {
    background-color: $aqua;
  }

  #question-1:checked ~ .frequent-questions--container__label,
  #question-2:checked ~ .frequent-questions--container__label,
  #question-3:checked ~ .frequent-questions--container__label,
  #question-4:checked ~ .frequent-questions--container__label {
    color: $aqua;
    font-weight: bold;
  }

  .services,
  .buy {
    &--title {
      &__text {
        color: $aqua;
        font-size: 2.2rem;
        text-align: center;
      }
    }

    &--sell,
    &--buy {
      margin: 0 25px;
      &__title,
      &__subtitle {
        text-align: center;
      }

      & h4 {
        font-size: 1.3rem;
      }
    }

    &--sell {
      margin: 0 25px 100px 25px;
    }
  }

  .sell,
  .buy {
    padding: 0;

    & div {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 50px 0;
    }

    & li {
      list-style: none;
      font-size: 1.3rem;
      text-align: center;
    }

    img {
      margin: 25px 0;
      width: 50%;
    }
  }

  .services--button button {
    background-color: $aqua;
    border: none;
    color: $bgc;
    font-size: 1.4rem;
    font-weight: bolder;
    height: 50px;
    margin-bottom: 15px;
    width: 100%;
  }

  .form {
    align-items: center;
    background-color: $aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;

    &--text {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 25px 25px 25px;
    }

    & textarea {
      background-color: #01d3b7;
      border: none;
      border-bottom: 1px solid $black;
      font-family: "Arial";
      font-size: 1.2rem;
      font-weight:lighter;
      resize: none;
      width: 100%;

      &::placeholder {
        color: darken($aqua, 25);
      }
    }

    & div {
      & h3 {
        font-size: 1.9rem;
        text-align: left;
      }

      & p {
        font-size: 1.3rem;
        margin: 0;
      }

      & label {
        font-size: 1.5rem;
        font-weight: bolder;
      }

      & input {
        background-color: $aqua;
        border: none;
        border-bottom: 1px solid $black;
        font-size: 1.2rem;
        height: 35px;
        width: 100%;

        &::placeholder {
          color: darken($aqua, 25);
          font-weight:lighter;
        }
      }
    }

    &--contact {
      width: 100%;
      & div {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 25px 25px 25px;
      }

      .form--button {
        align-items: center;
        display: flex;
        justify-content: center;
        &__btn {
          background-color: $black;
          border: none;
          color: $bgc;
          font-family: 'Raleway', sans-serif;
          font-size: 1.4rem;
          font-weight: bolder;
          height: 50px;
          width: 100%;

          &:active {
            transform: scale(0.9);
          }
        }
      }
    }
  }

  .not-found {
    align-items: center;
    display: flex;
    flex-direction: column;
    // height: 10vh;
    justify-content: flex-start;
    margin: 200px 25px 25px 25px;

    & h1 {
      margin-top: 180px;
      text-align: center;
    }

    & div {
      align-items: center;
      display: flex;
      justify-content: center;
      
      & img {
        animation-duration: 2.5s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
        animation-name: not-found;
        position: absolute;
        width: 50%;
      }
    }

    &--cta {
      width: 100%;
      & a {
        width: 100%;
      }

      &__button {
        color: $bgc;
        background-color: $aqua;
        border: none;
        font-size: 1.3rem;
        font-weight: bolder;
        height: 50px;
        width: 100%;
      }
    }

    @keyframes not-found {
      0% {
        top: 200px;
      }

      100% {
        top: 110px;
      }
    }
  }

  .properties {
    &--title__text {
      color: $aqua;
      font-size: 2.2rem;
      text-align: center;
    }

    &--content {
      margin: 0 25px 50px 25px;
    }

    &--container {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }
  }

  .property {
    background-color: $bgc2;
    font-weight: bolder;
    margin: 0 0 25px 0;
    width: 100%;
    &--image {
      overflow: hidden;
      position: relative;

      &__title {
        color: $bgc;
        font-size: 1.3rem;
        margin-left: 10px;
        position: absolute;
        top: 75%;
      }
    }

    &--details {
      margin: 0 10px;

      & div {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }

      &__price {
        font-size: 1.5rem;
        margin: 0;
      }

      &__button {
        background-color: $aqua;
        border: none;
        color: $bgc;
        font-size: 1rem;
        height: 35px;
        width: 100px;
      }
    }
  }

  .filters {
    display: none;
  }

  .slider {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: flex-start;
    position: relative;
    width: 100%;

    &--images {
      overflow: hidden;
      position: relative;
      width: 100%;
      img {
        height: 100%;
      }
    }

    &--arrows {
      align-items: center;
      background-color: transparent;
      display: flex;
      position: absolute;
      justify-content: space-between;
      top: 48%;
      left: 0px;
      width: 100%;

      &__left,
      &__right {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 35px;
        margin-left: 5px;
        width: 35px;

        &__right {
          margin-left: 0;
          margin-right: 5px;
        }

        & img {
          filter: invert(1);
          width: 100%;
        }
      }

      &__left:active,
      &__right:active {
        transform: scale(0.9);
      }
    }
  }

  .property-detail {
    &--content {
      margin: 0 25px 15px 25px;
    }

    &--feature {
      & ul {
        padding: 0;
        & li {
          list-style: none;
          margin: 10px 0;
        }
      }

      &__title {
        margin-left: 25px;
      }
    }

    &--tour {
      height: 500px;
      margin-bottom: 100px;

      & iframe {
        height: 100%;
      }
    }

    &--information {
      & h1,
      & h2 {
        margin-left: 25px;
      }
    }
  }

  iframe {
    height: 250px;
    width: 100%;
  }

  .mobile-filters {
    margin-bottom: 25px;
    width: 100%;

    &--button {
      background-color: $aqua;
      border: none;
      color: $bgc;
      font-size: 1.1rem;
      height: 35px;
      width: 100%;
    }
  }

  .featured-properties .mobile-filters {
    display: none;
  }

  .modal {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    left: 0;
    min-height: 100%;
    min-width: 100vw;
    overflow: scroll;
    position: fixed;
    top: 0;
    z-index: 150000;

    &--container {
      background-color: $bgc;
      height: 100%;
      overflow: scroll;
      position: fixed;
      width: 100vw;
      
      & div {
        margin-left: 20px;
        position:relative;
        overflow:auto;
        & div {
          margin: 5px 0;
        }
      }

      & hr {
        margin: 0 20px 15px 20px;
      }
    }

    &--title {
      align-items: center;
      display: flex;
      justify-content: space-between;

      &__text {
        font-size: 1.3rem;
        font-weight: bolder;
      }
    }

    &--button {
      background-color: $black;
      border: none;
      color: $bgc;
      height: 35px;
      position: absolute;
      right: 20px;
      top: 20px;
      width: 35px;

      &::after {
        background-color: $bgc;
        content: '';
        height: 2px;
        left: 5px;
        position: absolute;
        top: 16px;
        transform: rotate(45deg);
        width: 25px;
      }

      &::before {
        background-color: $bgc;
        content: '';
        height: 2px;
        left: 5px;
        position: absolute;
        top: 16px;
        transform: rotate(135deg);
        width: 25px;
      }
    }

    &--filters {
      align-items: center;
      display: flex;
      justify-content: center;
      width: 100%;
      &__button {
        background-color: $black;
        border: none;
        color: $bgc;
        font-size: 1.1rem;
        height: 35px;
        padding: 0;
        position: relative;
        width: 90%;
      }
    }
  }

  .price-filter {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 95%;
    & input {
      height: 30px;
      width: 37%;
    }
  }
}

@media screen and (min-width: 480px) {
  .about--picture .estate-agent--img {
    width: 60%;
  }

  .slider {
    height: 250px;
    &--images {
      & img {
        height: auto;
        width: 100%;
      }
    }
  }

  .property {
    &--image {
      &__title {
        top: 70%;
      }
    }
  }
}

// TABLET
@media screen and (min-width: 600px) {
  .brusi-propiedades {
    grid-template-columns: repeat(8, 1fr);
  }

  .header {
    grid-column: 1/9;

    &--menu-mobile__label {
      display: none;
    }
  }

  .navbar {
    display: block;
    margin-right: 10px;

    & ul {
      display: flex;
    }

    &--item {
      list-style: none;
      margin-right: 15px;
    }

    &--item__link {
      color: $black;
      font-size: 1.1rem;
      position: relative;
      text-decoration: none;
    }
  }

  .home,
  .about,
  .properties,
  .services,
  .properties-detail,
  .not-found {
    grid-column: 1/9;
  }

  .footer {
    grid-column: 1/9;
    height: 400px;
  }

  .about--picture .estate-agent--img {
    width: 50%;
  }

  .sell,
  .buy {
    & div {
      margin: 50px;

      & li {
        width: 450px;
      }

      & img {
        width: 30%;
      }
    }
  }

  .properties {
    &--content {
      display: flex;
      flex-direction: column;
    }
    &--container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }

  .property {
    margin: 15px 5px;
    width: 48%;

    &--details__price {
      font-size: 1.4rem;
    }

    &--image {
      &__title {
        top: 75%;
      }
    }

    &-detail {
      margin: 50px 100px;

      &--information div h1,
      &--information div h2 {
        margin: 25px 0;
      }

      &--content,
      &--feature {
        margin: 0;

        & iframe {
          height: 325px;
        }
      }

      &--feature__title {
        margin: 20px 0;
      }
    }
  }

  .slider {
    height: 280px;
    &--images {
      height: 400px;
      & img {
        height: 100%;
      }
    }
  }

  .properties-detail {
    & .slider {
      
      & img {
        width: 100%;
      }
    }
  }

  .footer {
    height: 500px;
    &--links {
      flex-direction: row;
      flex-wrap: wrap;
      width: 400px;
    }
  }

  .hero {
    &--content {
      &__text {
        margin: 10px 0;
      }
    }

    &--buttons {
      align-items: center;
      height: 100px;
      & p {
        margin: 10px 0;
      }
      & div {
        flex-direction: row;
        height: auto;
        width: 400px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-right: 0;
    &--item {
      margin-right: 25px;
      &__link {
        font-size: 1.3rem;
      }
    }
  }

  .about {
    &--content,
    &--invert {
      margin: 25px 50px;
    }

    &--title__text {
      margin-left: 50px;
    }

    &--picture {
      & .estate-agent--img {
        width: 40%;
      }
    }
  }

  .about--picture {
    .view--img,
    .purpose--img,
    .mission--img {
      width: 40%;
    }
  }

  .hero {
    &--content {
      &__title {
        font-size: 4rem;
      }

      &__text {
        font-size: 2rem;
      }
    }

    &--buttons {
      align-items: center;
      &__text {
        font-size: 2rem;
      }

      & div {
        justify-content: space-around;
        width: 600px;
      }
    }

    & button {
      width: 250px;
    }
  }

  .home {
    &--services {
      button {
        width: 250px;
      }
    }
  }

  .services--button {
    align-items: center;
    display: flex;
    justify-content: center;
    & button {
      width: 500px;
    }
  }

  .form--contact {
    width: 600px;
  }
}

@media screen and (min-width: 900px) {
  .about {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0 25px;
      max-width: 1400px;
    }

    &--content,
    &--invert {
      display: flex;
      flex-direction: column;
      margin: 50px 0;
      width: 48%;
    }

    &--invert {
      flex-direction: column-reverse;
      justify-content: flex-end;
    }

    &--picture {
      align-items: flex-start;
      display: flex;
      height: 375px;
      justify-content: center;
      margin: 0 15px;
      overflow: hidden;
      width: 100%;
    }

    &--title__text {
      font-size: 2.3rem;
      margin: 50px 0;
    }
  }

  .about--picture .estate-agent--img,
  .about--picture .about--picture__img {
    width: 100%;
  }

  .purpose--picture,
  .mission--picture,
  .view--picture {
    height: 200px;
  }

  .purpose--img,
  .mission--img,
  .view--img {
    width: 50% !important;
  }

  .property {
    width: 48%;
  }

  .footer {
    height: 350px;
    &--links {
      width: 800px;
    }
  }

  .hero {
    &--content__title {
      font-size: 3.5rem;
    }
    &--buttons {
      & p {
        margin: 20px 0;
      }
    }
  }

  .slider {
    height: 350px;
  }
}

// DESKTOP
@media screen and (min-width: 1024px) {
  .brusi-propiedades {
    grid-template-columns: repeat(12, 1fr);
  }

  .header {
    grid-column: 1/13;
  }

  .home,
  .about,
  .properties,
  .services,
  .properties-detail,
  .not-found {
    grid-column: 1/13;
  }

  .navbar {
    &--item__link::after {
      background-color: $aqua;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      top: 28px;
      transition: width 0.3s ease-in-out;
      transition-property: width;
      transition-duration: 0.3s;
      transition-timing-function: ease-in-out;
      transition-delay: 0s;
      width: 0;
    }

    &--item__link:hover::after {
      width: 100%;
    }
  }

  #sell,
  #buy {
    background-color: $aqua;
    overflow: hidden;
    position: relative;

    & > span {
      position: relative;
      z-index: 120;
    }

    &::after {
      border-right: 80px solid transparent;
      border-bottom: 75px solid $black;
      content: '';
      height: 75px;
      left: -350px;
      position: absolute;
      top: -75px;
      transition: all 0.3s ease-in-out;
      width: 100%;
    }

    &:hover::after {
      left: 0;
    }
  }

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--img-container {
      height: calc(100vh - 70px);
      width: 100%;
      position: relative;
      overflow: hidden;
    }

    &--content {
      align-items: center;
      display: flex;
      position: absolute;
      justify-content: center;

      &__title,
      &__text {
        color: $bgc;
      }

      &__text {
        animation: show-text;
        animation-duration: 6s;
        font-size: 2.5rem;
        margin: 25px 0;
      }

      @keyframes show-text {
        0% {
          opacity: 0;
        }

        99% {
          opacity: 0;
        }

        100% {
          opacity: 1;
        }
      }

      &__title {
        font-size: 5rem;
        margin: 35px 0 0 0;
      }

      &__phrase {
        font-size: 3.2rem;
        font-weight: lighter;
        margin: 15px 0;
      }
    }

    &--buttons {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 500px;

      & div {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;

        .hero--buttons__button {
          height: 50px;
          width: 200px;
      }
      }
    }
  }

  .home {
    &--services {
      align-items: flex-start;
      flex-direction: row;
      justify-content: center;
      margin: 50px 100px;

      &__text {
        font-size: 1.5rem;
        text-align: justify;

        & h2 {
          margin-top: 0;
        }

        & button {
          cursor: pointer;
          position: relative;
          overflow: hidden;

          & > span {
            position: relative;
            z-index: 1000;
          }
          
          &::after {
            border-right: 80px solid transparent;
            border-bottom: 75px solid $black;
            content: '';
            height: 50px;
            left: -350px;
            position: absolute;
            text-align: center;
            top: -50px;
            transition: all .3s ease-in-out;
            width: 100%;
          }

          &:hover::after {
            left: 0;
          }
        }
      }
    }
  }

  .featured-properties {
    margin: 0 100px;
  }

  .footer {
    grid-column: 1/13;

    &--links__link:hover {
      color: $aqua;
    }
  }

  .frequent-questions {
    width: 700px;

    &--title {
      font-size: 2.3rem;
    }

    &--container__label {
      cursor: pointer;
    }
  }

  .about {
    &--content,
    &--invert {
      width: 500px;
    }

    &--title__text {
      font-size: 4rem;
    }
  }

  .about--picture .estate-agent--img,
  .about--picture .about--picture__img {
    width: 60%;
  }

  .services {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &--sell,
    &--buy {
      margin: 0 100px 25px 100px ;

      &__title,
      &__subtitle {
        font-size: 2.7rem;
      }

      &__subtitle {
        font-size: 2.3rem;
      }
    }

    &--title__text {
      font-size: 4rem;
    }

    &--button {
      padding-top: 150px;

      & button {
        cursor: pointer;
        position: relative;
        overflow: hidden;
        width: 400px;

        & > span {
          position: relative;
          z-index: 1000;
        }
        
        &::after {
          border-right: 80px solid transparent;
          border-bottom: 75px solid $black;
          content: '';
          height: 50px;
          left: -475px;
          position: absolute;
          text-align: center;
          top: -50px;
          transition: all .3s ease-in-out;
          width: 100%;
        }

        &:hover::after {
          left: 0;
        }
      }
    }
  }

  .sell,
  .buy {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    & div {
      justify-content: flex-start;
      margin: 50px 5px;
      height: 250px;
      width: 300px;

      & img {
        height: 30%;
        width: auto;
      }

      & li {
        text-align: justify;
        width: 275px;
      }
    }
  }

  .filters {
    background-color: $aqua;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-right: 20px;
    width: 250px;

    & div {
      & input {
        margin-left: 0;
      }
      & .filters--title {
        font-size: 1.3rem;
      }
    }

    & > div {
      margin: 0 10px;
    }

    & label {
      cursor: pointer;
    }
  }

  .properties {
    &--content {
      flex-direction: row;
    }

    &--container {
      align-items: flex-start;
    }

    &--title__text {
      font-size: 4rem;
    }
  }

  .property {
    margin: 0 5px 15px 5px;

    &--details {
      & div button {
        cursor: pointer;
          position: relative;
          overflow: hidden;

          & > span {
            position: relative;
            z-index: 1000;
          }
          
          &::after {
            border-right: 80px solid transparent;
            border-bottom: 75px solid $black;
            content: '';
            height: 50px;
            left: -140px;
            position: absolute;
            text-align: center;
            top: -50px;
            transition: all .3s ease-in-out;
            width: 100%;
          }

          &:hover::after {
            left: 0;
          }
      }
    }

    &-detail {
      max-width: 900px;

      &--feature {
        & iframe {
          height: 400px;
        }
      }
    }
  }

  .properties-detail {
    display: flex;
    justify-content: center;
    & .slider {
      height: 400px;
      & img {
        width: 100%;
      }
    }
  }

  .check {
    padding: 0;
    & label {
      cursor: pointer;
    }
  }

  .form--button__btn {
    cursor: pointer;
    color: $bgc;
    transition: all .5s ease-in-out;

    &:hover {
      background-color: $bgc !important;
      border: 2px solid $black !important;
      color: $aqua;
      font-weight: bolder;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  .mobile-filters {
    display: none;
  }

  .price-filter {
    display: flex;
    justify-content: space-between;
    margin: 0;
    & input {
      width: 65px;
    }
  }
}

@media screen and (min-width: 1124px) {
  .property {
    &--image {
      height: 200px;
      &__title {
        top: 63%;
      }
    }
  }

  .slider {
    height: 280px;
    &--images {
      & img {
        height: auto;
        transform: translateY(-15%);
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .home {
    &--services {
      margin: 50px 100px;
      & img {
        width: 100%;
      }
    }
  }

  .hero {
    &--content {
      &__title {
        font-size: 7rem;
      }
    }

    &--buttons {
      width: 550px;

      & div {
        width: 100%;

        .hero--buttons__button {
          font-size: 1.6rem;
          height: 75px;
          width: 250px;
        }
      }    
    }
  }

  .sell,
  .buy {
    & div {
      height: 350px;
      width: 400px;
    }
  }

  .sell {
    max-width: 1500px;

    & div {
      width: 300px;
    }
  }

  .property {
    &--image {
      align-items: flex-start;
      display: flex;
      height: 300px;
      margin: 0;
      overflow: hidden;
      &__title {
        top: 73%;
      }
    }
  }

  .slider {
    height: 350px;
    &--images {
      & img {
        height: 100%;
        transform: translateY(-15%);
        width: auto;
      }
    }
  }

  .services--button {
    padding-top: 75px;
  }
}

@media screen and (min-width: 1368px) {
  .property {
    &--image {
      height: 270px;
    }
  }

  .slider {
    height: 300px;
    &--images {
      & img {
        height: auto;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 1840px) {
  .property {
    &--image {
      height: 375px;
      &__title {
        top: 80%;
      }
    }
  }

  .slider {
    height: 375px;
  }
}
